
<!DOCTYPE html>

<html>
<head>
    <title>First Page Pasha Mermer</title>
</head>
<body>
    <script src="~/Scripts/Home/jquery.js"></script>
    <script src="~/Scripts/Home/DeviceDedect.js"></script>
</body>
</html>